<%= form_for(salario,remote: true) do |f| %>
	<%= label :city_state_id, "Estado" %>
    <%= select :state, :name, @states.collect {|s| [ s.name, s.id ] }, {:prompt => 'Selecione Estado'}  %>
	<label for="cidade">Cidade</label>
	<select name="cidade">
		<option>São Paulo</option>
	</select>
	<label for="amount">Valor</label>
	<input type="text"></input>
	<button type="submit" value="Enviar">Enviar</button>
<% end %>