<%= form_for(salario) do |f| %>
	<label for="estado">Estado</label>
	<select name="estado">
		<option>São Paulo</option>
	</select>
	<label for="cidae">Cidade</label>
	<select name="cidade">
		<option>São Paulo</option>
	</select>
	<label for="amount">Valor</label>
	<input type="text"></input>
	<button type="submit" value="Enviar">Enviar</button>
<% end %>