<h3>Colabore</h3>
<div id="errors" class="alerts" style="display:none;"></div>
<div id="success" class="alerts" style="display:none"></div>

<%= render "form", salario: @salario %>

<div id="salarios">
	<%= render "salaries/list" %>
</div>