<table id="salaries">
	<thead>
		<th>Local</th>
		<th>Salário</th>
	</thead>
	<tbody>
		<% @salarios.each do |city, amount| %>
			<tr>
				<td><%= city.name %> </td>
				<td><%= amount %> </td>
			</tr>
		<% end %>
	</tbody>
</table>