<% if @salary.errors.any? %>
	$("#success").fadeOut(400);
	$("#errors").html("<%= escape_javascript( render(partial: 'errors') ) %>").fadeIn(400);
<% else %>
	$("#errors").fadeOut(400);
	$("#success").html("sucesso").fadeIn(400);

	$("form")[0].reset();
	$('.cidades')
	    .find('option')
	    .remove()
	    .end()
	    .append('<option value="none">Selecione Estado antes</option>');
	;

	$("#salarios").html("<%= escape_javascript( render(partial: 'list') ) %>")

	OSX.close();
<% end %>